nav a,
nav {
  color: white;
}
nav {
  padding: 2em 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_menu {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_menu ul {
  display: flex;
  gap: 1.5em;
}
.main_menu > div img {
  width: 250px;
}
nav > ul {
  display: flex;
  gap: 1.5em;
  align-items: center;
}
nav ul > li {
  font-size: 1.2em;
}
nav .btn {
  background: rgba(191, 168, 136, 1);
  border-radius: 3px;
  font-weight: 600;
  padding: 10px 30px;
  color: rgba(1, 77, 83, 1);
}

.menu {
  display: none;
}
.drop_down li:nth-child(1),
.drop_down li:nth-child(2),
.drop_down li:nth-child(3),
.drop_down li:nth-child(4) {
  display: none;
}

@media (max-width: 1300px) {
  #menu {
    display: none;
  }
  .menu {
    display: flex;
    gap: 2em;
  }
  .menu .drop_down li button {
    display: none;
  }
  .toggle_btn {
    font-size: 2em;
  }

  .drop_down {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .drop_down {
    position: absolute;
    right: 2rem;
    top: 65px;
    right: 220px;
    /* display: none; */
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.345);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .drop_down li {
    list-style: none;
  }

  .drop_down li a > i {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
  }

  .drop_down.open {
    height: 200px;
  }
  .main_menu {
    width: 80%;
    justify-content: space-around;
  }
}
@media (max-width: 1024px) {
  .menu > button {
    display: none;
  }
  .menu .drop_down li button {
    display: block;
  }
  .drop_down {
    position: absolute;
    right: 2rem;
    top: 65px;
    right: 90px;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.345);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .drop_down.open {
    height: 250px;
  }
  .main_menu {
    width: 90%;
    justify-content: space-between;
  }
}
@media (max-width: 900px) {
  .main_menu > ul > li {
    font-size: 1em;
  }
  .drop_down {
    position: absolute;
    right: 2rem;
    top: 65px;
    right: 85px;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.345);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
@media (max-width: 842px) {
  nav {
    padding: 2em;
  }
  .drop_down {
    position: absolute;
    right: 2rem;
    top: 65px;
    right: 60px;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.345);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
@media (max-width: 757px) {
  .main_menu > ul {
    display: none;
  }
  .drop_down li:nth-child(1),
  .drop_down li:nth-child(2),
  .drop_down li:nth-child(3),
  .drop_down li:nth-child(4) {
    display: block;
  }
  .drop_down {
    top: 65px;
    right: 60px;
    gap: 1em;
    width: 300px;
  }
  .drop_down.open {
    height: 450px;
  }
}
@media (max-width:460px) {
  nav{
      padding: 1em;
  }
  /* .main_menu > div img{
      margin-left: 1em;
  } */

  .drop_down {
    top: 65px;
    right: 0px;
    width: 100%;
  }
}