ul li .slide-show{
    width: 300px;
    background-color: white;
    color: black;
    position: absolute;
    top: 30px;
    display: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
    overflow: hidden;
    transition: ease-in-out 1s;
}
  ul li .slide-show div{
   
    color: black;
    width: 100%;
    /* display: none; */
}
 ul li:hover .slide-show{
    display: flex;
}